 @charset "UTF-8";

main{
  background-color: #212121;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  margin: 0;
  background-color: #212121;
}

button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: 'Ubuntu', sans-serif;;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.header {
  background-color: #212121;
  height: 80px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  flex-wrap: wrap;
}

.header.ourworks {
  height: 72px;
}

.header-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: end;
  flex-wrap: wrap;
}

.header-meta__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 294px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

.header-meta__list a:hover {
  color: #e8d58c;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-meta__list a {
  color: #e8d58c;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-meta__list .header-meta__item--active {
  color: #e8d58c;
}

.header-meta__list .header-meta__item {
  position: relative;
}

.header-meta__item.on-page a {
  color: #757575
}

.header-meta__item:hover {
  color: #e8d58c;
  -webkit-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-meta__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-meta__contacts li:not(:first-child) {
  margin-left: 30px;
}

.contacts-email {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-wrap: wrap;
}

.contacts-email:hover {
  fill: #e8d58c;
  color: #e8d58c;
  -webkit-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-email:hover .contacts-email__symbol {
  fill: #e8d58c;
  color: #e8d58c;
  -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-email p {
  padding-top: 3px;
  padding-left: 9px;
}

.contacts-email__symbol {
  -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-email__icon {
  width: 16px;
  height: 12px;
  margin-top: 4px;
}

.contacts-phone {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-phone p {
  padding-top: 2px;
  padding-left: 9px;
}

.contacts-phone:hover {
  fill: #e8d58c;
  color: #e8d58c;
  -webkit-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-phone:hover .contacts-phone__symbol {
  fill: #e8d58c;
  color: #e8d58c;
  -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-phone .contacts-phone__symbol {
  -webkit-transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-phone__icon {
  width: 10px;
  height: 16px;
  margin-top: 2px;
}

.hero {
  background-image: url(./images/bckhero.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.hero h1 {
  max-width: 696px;
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: #000000c9 0px 0px 20px;
  flex-wrap: wrap;
}


.hero-overlay {
  height: 600px;
  background: rgba(37, 37, 37, 0.459);
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.hero-buttonorder {
  background-color: #e8d58c;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 35px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #212121;
  transform: scale(1.00);
  transition: 0.2s;
}

.hero-buttonorder:hover{
  background-color: #bdae73;
  transform: scale(1.05);
  transition: 0.2s;
}

.hero-buttonorder:hover .backdrop is-hidden {
  opacity: 1;
}

.hero-buttonorder1{
  color: #000000;
  margin: 0 auto;
}
.privileges {
  background-color: #272727;
  height: 470px;
  padding-top: 1px;
  text-align: center;
  flex-wrap: wrap;
}

.privileges-item h1 {
  width: 270px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #e8d58c;
  margin-top: 30px;
  flex-wrap: wrap;
}

.privileges-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.privileges-icons {
  height: 90px;
  max-width: 200px;
}

.privileges-item > p {
  max-width: 270px;
  margin-top: 10px;
  color: #b8b8b8;
  font-size: 14px;
  text-align: left;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.ouroccupation {
  background-color: #212121;
  height: 480px;
  flex-wrap: wrap;
}

.ouroccupation h1 {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #e8d58c;
  flex-wrap: wrap;
}

.ouroccupation-text {
  padding-bottom: 0px;
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color: #00000080;
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ouroccupation-text p {
  padding-top: 27px;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #e8d58c;
  text-shadow: #00000098 0px 2px 2px;
}

.ouroccupation-list {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  flex-wrap: wrap;
}

.ouroccupation-item {
  margin: auto;
  margin-left: 0px;
  position: relative;
  box-shadow: #00000075 0px 0px 20px;
  border-radius: 15px;
  transform: scale(1.00);
  transition: 0.2s;
  flex-wrap: wrap;
}

.ouroccupation-item:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

.ouroccupation-item:last-child {
  margin-right: 0;
}

.customers {
  background-color: #212121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          flex-wrap: wrap;
}

.customers-topic {
  padding-bottom: 50px;
  padding-top: 50px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #e8d58c;
  flex-wrap: wrap;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  flex-wrap: wrap;
}

.customers-item {
  height: 428px;
  width: 270px;
  background-color: #212121;
  margin: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 50px;
  padding-bottom: 100px;
  margin-left: 0px;
  border-radius: 10px;
  box-shadow:#00000079 0px 0px 20px;
  transform: scale(1.00);
  transition: 0.2s;
  flex-wrap: wrap;
}

.customers-item:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

.customers-item:last-child {
  margin-right: 0;
}

.customers-item > img {
  border-radius: 10px;
  max-width: 270px;
}

.customers-item > h1 {
  margin-left: 0px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #e8d58c;
}

.customers-item > p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 170px;
  margin: 16px auto 0;
  flex-wrap: wrap;
}

.social-links__button {
  width: 44px;
  height: 44px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  display: block;
  text-align: center;
  background-color: #313131;
  border-radius: 50%;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.social-links__button:hover {
  background-color: #e8d58c;
}

.social-links__button:hover .social-links__icon {
  fill: #212121;
}

.social-links__button:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__button:hover .social-links__icon1 {
  fill: #212121;
}

.social-links__button:hover .social-links__icon {
  fill: #212121;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  border-radius: 30%;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
  display: block;
}

.social-links__icon1 {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
  display: block;
}

.oursponsors-text {
  background-color: #212121;
  color: #e8d58c;
  text-align: center;
  padding-bottom: 40px;
  font-size: 36px;
  flex-wrap: wrap;
}

.sponsors {
  width: 73%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 40px;

  background-color: #e8d58c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

.sponsors h1 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  max-width: 391px;
  flex-wrap: wrap;
}

.sponsors_div h1 {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 30px;
}

.sponsors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sponsors-icon {
  width: 150px;
  height: 92px;
  fill: #1f1f1f;
  border-radius: 4px;
  transform: scale(1.00);
  transition: 0.2s;
}

.sponsors-icon:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.sponsors_div .item {
  text-align: center;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          flex-wrap: wrap;
}

* {box-sizing:border-box}

* {box-sizing:border-box}

* {box-sizing:border-box}

.slideshow {
  background-color: #212121;
  height: 800px;
  flex-wrap: wrap;
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.slide {
  border-radius: 15px;
  display: none;
  flex-wrap: wrap;
}

.slideshow-text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 0px 1px 3px #000000;
}

.slideshow-number {
  color: #f2f2f2;
  font-size: 16px;
  text-shadow: 0px 1px 3px #000000;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slideshow img {
  width:100%;
  border-radius: 15px;
}

@keyframes fade {
  from {-webkit-filter: blur(4px);
        opacity: 0.5;}
  to {-webkit-filter: blur(0px);
        opacity: 1;}
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

.footerparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

footer {
  height: 200px;
  background: #1d1d1d;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.footer-links {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 70px;
}

.footer-links h1 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #e8d58c;
}

.footer-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 160px;
  flex-wrap: wrap;
}


.footer-links__list li:not(:last-child) {
  margin-right: 10px;
}

.footer-links__button {
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

.footer-links__button:hover .footer-links__icon1 {
  fill: #FFFFFF;
}

.footer-links__button:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  -webkit-transition: -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e8d58c;
}

.footer-links__button:hover .footer-links__icon {
  fill: #ffffff;
}

.footer-links__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  border-radius: 30%;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
  display: block;
}

.footer-links__icon1 {
  width: 20px;
  height: 20px;
  fill: rgb(0, 0, 0);
  background-position: center;
  border: none;
  background-repeat: no-repeat;
  display: block;
}

.footer-info__logo {
  padding-top: 30px;
}

.footer-info__list {
  margin-top: 25px;
}

.footer-info__item {
  color: rgba(255, 255, 255, 0.6);
}

.footer-info__item1 {
  color: #E5E5E5;
}

.footer-info__item, .footer-info__item1 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

.footer-mailing__button {
  width: 160px;
  height: 50px;
  margin: 0 auto;
  background-color: #c5b575;
  border-radius: 15px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  cursor: pointer;
  float: left;
  transform: scale(1.00);
  transition: 0.2s;
}

.footer-mailing__button::after {
  content: url(./images/icon-send.svg);
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.footer-mailing__button:hover {
  transform: scale(1.05);
  transition: 0.2s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
}

.footer-mailing {
  width: 200px;
  margin-top: 20px;
  height: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* OUR WORKS */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transform: scale(1);
  transition: 0.2s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
}

.column img:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}